package templates

templ Base() {
    <!DOCTYPE html>
    <html>
        <head>
            <title>Amigo Oculto</title>
        </head>
        <body>
            { children... }
        </body>
    </html>
}

templ NotFound() {
	<div>404</div>
}